@model string;

<div style="position : fixed; right:25px; bottom:75px" class="text-white">
	<a asp-controller="@Model" class="btn btn-success" asp-action="Create"><i class="bi bi-plus-circle"></i>Add New</a>
</div>