

<div class="row">
	<div class="col-md-6 offset-3 alert-success text-center">
		<h2>Order Completed Successfully</h2>
		<p>Check Your Orders in the orders section</p>
		<hr />
		<p>Thank You</p>
	</div>
</div>